.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20%;
	background-color: whitesmoke;
	border-bottom: 1px solid grey;
	/* border-radius: 16px 16px 0 0; */
}

.dark {
	background-color: #000066;
}

.category-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	cursor: pointer;
}

.category-section section {
	color: orange;
	font-weight: bold;
}
