.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* height: 20%; */
	background-color: whitesmoke;
	border-bottom: 1px solid grey;
	padding: 0.3rem 0;
}

.dark {
	background-color: #000066;
}

.category-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.category-section section {
	color: orange;
	font-size: 1.3rem;
	margin: 0.4rem;
	font-weight: bold;
	opacity: 0.8;
}

.category-section section:hover {
	opacity: 1;
}
