.todos {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.todos-items {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0;
  padding: 1rem;
  background-color: white;
}

.darkBody {
  background-color: MidnightBlue;
  color: white;
}
