body {
	background-color: gray;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20%;
}

.App {
	outline: 2px solid black;
	width: 50vw;
	height: 60vh;
	border-radius: 16px;
}

li {
	list-style: none;
}

input {
	border: none;
	border: 0;
	outline: none;
}
